.card {
  border-radius: 12px;
}

.table {
  border-radius: 10px;
  overflow: hidden;
}

.table-primary th {
  background-color: #0d6efd !important;
  color: white !important;
}

button i {
  margin-right: 6px;
}
