.sidebar {
  width: 250px;
  min-height: 100vh;
  height: 100%;
  background-color: #1b1f23;
  color: #fff;
  transition: width 0.3s ease;
}

.sidebar.collapsed {
  width: 80px;
}

.nav-link {
  padding: 0.75rem 1rem;
  color: #cfd8dc !important;
  border-radius: 0.5rem;
  margin: 0.25rem 1rem;
  text-align: left;
  transition: 0.2s;
}

.nav-link.active,
.nav-link:hover {
  background-color: #34d1bf;
  color: #fff !important;
}
