<div class="sidebar" [class.collapsed]="collapsed">
  <div class="logo mb-4 text-center">
    💚 @if (!collapsed) {
    <span class="fw-bold text-info">Pulse</span>
  }
</div>

<!-- Profile section -->
@if (user) {
  <div class="profile text-center mb-3">
    @if (!collapsed) {
      <img
        src="https://i.pravatar.cc/80?img=12"
        alt="User"
        class="rounded-circle mb-2"
        width="70"
        />
    }
    @if (!collapsed) {
      <h6 class="text-white mb-0">{{ user?.username | uppercase }}</h6>
    }
    @if (!collapsed) {
      <small class="text-secondary">{{ user?.role }}</small>
    }
  </div>
}

<!-- Sidebar links -->
<nav class="nav flex-column mt-4 w-100 text-center">
  @for (link of links; track link) {
    <a
      [routerLink]="link.route"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      class="nav-link text-white"
      >
      <i class="bi {{ link.icon }}"> </i>
      @if (!collapsed) {
        <span class="ms-2">{{ link.title }}</span>
      }
    </a>
  }
</nav>
</div>
